.root {
    position: relative;
    padding: 1.3rem 1rem 1rem;
}


.root::before {
    content: "“";
    position: absolute;
    left: 1rem;
    top: 0.1rem;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.blockquote {
    font-size: 1.2rem;
}

.cite {
    font-size: 0.8rem;

}